* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

body {
	background: #efefef;
	font-size: 1.6rem;
}

#counter {
	text-align: center;
	color: green;
	margin: 2rem 0;
	font-size: 1.9rem;
}

h1 {
	color: blue;
}

.text-center {
	text-align: center
}

button {
	font-size: inherit;
	display: block;
	margin: 0 auto;
}